{
  "swagger": "2.0",
  "info": {
    "title": "renave-ws",
    "contact": {},
    "license": {}
  },
  "host": "renave.estaleiro.serpro.gov.br",
  "basePath": "/renave-ws",
  "tags": [
    {
      "name": "Autorizações de transferência",
      "description": " "
    },
    {
      "name": "Cliente Autenticado",
      "description": " "
    },
    {
      "name": "Entregas de veículos zero km",
      "description": " "
    },
    {
      "name": "Estoques",
      "description": " "
    },
    {
      "name": "Estoques de veículos zero km",
      "description": " "
    },
    {
      "name": "ITE",
      "description": " "
    },
    {
      "name": "Municípios",
      "description": " "
    },
    {
      "name": "PDF de ATPV",
      "description": " "
    },
    {
      "name": "Renovar",
      "description": " "
    },
    {
      "name": "Termo de saída de estoque",
      "description": " "
    },
    {
      "name": "Veículos",
      "description": " "
    },
    {
      "name": "Veículos inacabados",
      "description": " "
    }
  ],
  "paths": {
    "/api/montadora/autorizacoes-transferencias": {
      "get": {
        "tags": [
          "Autorizações de transferência"
        ],
        "summary": "Consultar autorizações de transferência. Se não informar nenhum parâmetro de pesquisa, serão retornadas todas as autorizações relacionadas com a montadora solicitante.",
        "operationId": "getUsingGET_10",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": false,
            "type": "string"
          },
          {
            "name": "estadoAutorizacao",
            "in": "query",
            "description": "estadoAutorizacao",
            "required": false,
            "type": "string",
            "enum": [
              "CRIADA",
              "CONSUMIDA",
              "CANCELADA"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AutorizacaoTransferenciaMontadoraJson"
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/autorizacoes-transferencias-para-ite": {
      "post": {
        "tags": [
          "ITE"
        ],
        "summary": "Autorizar a transferência de um estoque para uma ITE.",
        "operationId": "autorizarTransferenciaParaIteUsingPOST_1",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "envioAutorizacao",
            "description": "envioAutorizacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvioAutorizacaoTransferenciaParaItePelaMontadora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutorizacaoTransferenciaJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/cancelamentos-autorizacoes-transferencias-para-ite": {
      "post": {
        "tags": [
          "ITE"
        ],
        "summary": "Cancelar autorização de transferência de um estoque para uma ITE.",
        "operationId": "cancelarTransferenciaParaIteUsingPOST_2",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "envioCancelamento",
            "description": "envioCancelamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvioCancelamentoAutorizacaoTransferenciaParaIte"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/cancelamentos-entrada-estoque-zero-km": {
      "post": {
        "tags": [
          "Estoques de veículos zero km"
        ],
        "summary": "Cancelar entrada de estoque de veículo zero km.",
        "operationId": "cancelarEntradaDeEstoqueUsingPOST_2",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoCancelamentoEntradaZeroKm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/cancelamentos-saida-estoque-zero-km": {
      "post": {
        "tags": [
          "Estoques de veículos zero km"
        ],
        "summary": "Cancelar saída de estoque de veículo zero km.",
        "operationId": "cancelarSaidaDeEstoqueUsingPOST_2",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoCancelamentoSaidaZeroKm"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/cancelamentos-saidas-estoque-veiculo-inacabado": {
      "post": {
        "tags": [
          "Veículos inacabados"
        ],
        "summary": "Cancelar saída de veículo inacabado de estoque.",
        "operationId": "postUsingPOST_17",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacaoCancelamento",
            "description": "solicitacaoCancelamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoCancelamentoSaidaInacabadoPelaMontadora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/cliente-autenticado": {
      "get": {
        "tags": [
          "Cliente Autenticado"
        ],
        "summary": "Consultar os dados do cliente autenticado.",
        "operationId": "getUsingGET_11",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClienteAutenticadoJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/entradas-estoque-zero-km": {
      "post": {
        "tags": [
          "Estoques de veículos zero km"
        ],
        "summary": "Entrar com veículo zero km em estoque.",
        "operationId": "postUsingPOST_18",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "entrada",
            "description": "entrada",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoEntradaEstoqueZeroKmPelaMontadora"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/entregas-veiculo-zero-km": {
      "get": {
        "tags": [
          "Entregas de veículos zero km"
        ],
        "summary": "Consultar entregas.",
        "operationId": "consultarUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": false,
            "type": "string"
          },
          {
            "name": "cnpjEstabelecimentoEntregador",
            "in": "query",
            "description": "cnpjEstabelecimentoEntregador",
            "required": false,
            "type": "string",
            "pattern": "\\d{14}"
          },
          {
            "name": "cnpjEstabelecimentoVendedor",
            "in": "query",
            "description": "cnpjEstabelecimentoVendedor",
            "required": false,
            "type": "string",
            "pattern": "\\d{14}"
          },
          {
            "name": "estado",
            "in": "query",
            "description": "estado",
            "required": false,
            "type": "string",
            "enum": [
              "PENDENTE",
              "REALIZADA",
              "CANCELADA"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntregaJson"
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/estoques": {
      "get": {
        "tags": [
          "Estoques"
        ],
        "summary": "Consultar registro de estoque. Se não informar nenhum parâmetro de pesquisa, será retornado os estoques com data de entrada (sistêmica) nos últimos 3 meses e que estejam em um desses estados: SOLICITADO, TRANSFERIDO ou CONFIRMADO.",
        "operationId": "getUsingGET_12",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataHoraRegistroEntradaFinal",
            "in": "query",
            "description": "dataHoraRegistroEntradaFinal",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2023-01-01T10:30"
          },
          {
            "name": "dataHoraRegistroEntradaInicial",
            "in": "query",
            "description": "dataHoraRegistroEntradaInicial",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2022-12-01T10:30"
          },
          {
            "name": "dataHoraRegistroSaidaFinal",
            "in": "query",
            "description": "dataHoraRegistroSaidaFinal",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2023-01-01T10:30"
          },
          {
            "name": "dataHoraRegistroSaidaInicial",
            "in": "query",
            "description": "dataHoraRegistroSaidaInicial",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2022-12-01T10:30"
          },
          {
            "name": "estadoEstoque",
            "in": "query",
            "description": "estadoEstoque",
            "required": false,
            "type": "string",
            "enum": [
              "SOLICITADO",
              "TRANSFERIDO",
              "CONFIRMADO",
              "FINALIZADO"
            ]
          },
          {
            "name": "placa",
            "in": "query",
            "description": "placa",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EstoqueJson"
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/estoques/{idEstoque}/termo-saida-estoque": {
      "get": {
        "tags": [
          "Termo de saída de estoque"
        ],
        "summary": "Consultar Termo de Saída de Estoque.",
        "operationId": "getPdfTermoSaidaEstoqueUsingGET_2",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "idEstoque",
            "in": "path",
            "description": "idEstoque",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TermoSaidaEstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/estoques/{id}": {
      "get": {
        "tags": [
          "Estoques"
        ],
        "summary": "Consultar registro de estoque por ID.",
        "operationId": "getPorIdUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/municipios": {
      "get": {
        "tags": [
          "Municípios"
        ],
        "summary": "Consultar municípios",
        "operationId": "findAllUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "nome",
            "in": "query",
            "description": "nome",
            "required": false,
            "type": "string"
          },
          {
            "name": "uf",
            "in": "query",
            "description": "uf",
            "required": false,
            "type": "string",
            "enum": [
              "AC",
              "AL",
              "AP",
              "AM",
              "BA",
              "CE",
              "DF",
              "ES",
              "GO",
              "MA",
              "MT",
              "MS",
              "MG",
              "PA",
              "PB",
              "PR",
              "PE",
              "PI",
              "RJ",
              "RN",
              "RS",
              "RO",
              "RR",
              "SP",
              "SC",
              "SE",
              "TO"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Municipio"
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/municipios/{id}": {
      "get": {
        "tags": [
          "Municípios"
        ],
        "summary": "Consultar município por ID",
        "operationId": "findByIdUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Municipio"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/pdf-atpv": {
      "get": {
        "tags": [
          "PDF de ATPV"
        ],
        "summary": "Consultar PDF do ATPV do veículo",
        "operationId": "consultarPdfAtpvUsingGET_5",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": true,
            "type": "string",
            "pattern": "[A-HJ-NPR-Za-hj-npr-z0-9]{17,21}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PdfAtpv"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/saidas-estoque-veiculo-inacabado": {
      "post": {
        "tags": [
          "Veículos inacabados"
        ],
        "summary": "Sair com veículo inacabado de estoque.",
        "operationId": "postUsingPOST_19",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoSaidaEstoqueInacabadoPelaMontadora"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/saidas-estoque-veiculo-inacabado-renovar": {
      "post": {
        "tags": [
          "Renovar"
        ],
        "summary": "Sair com veículo inacabado de estoque com benefício Renovar.",
        "operationId": "postUsingPOST_20",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoSaidaEstoqueInacabadoRenovarPelaMontadora"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/saidas-estoque-veiculo-zero-km": {
      "post": {
        "tags": [
          "Estoques de veículos zero km"
        ],
        "summary": "Sair com veículo zero km de estoque.",
        "operationId": "postUsingPOST_21",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoSaidaEstoqueZeroKmPelaMontadora"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/saidas-estoque-veiculo-zero-km-renovar": {
      "post": {
        "tags": [
          "Renovar"
        ],
        "summary": "Sair com veículo zero km de estoque com benefício Renovar pela montadora.",
        "operationId": "postUsingPOST_22",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoSaidaEstoqueZeroKmRenovarPelaMontadora"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/transferencias-estoque-vindo-de-ite": {
      "post": {
        "tags": [
          "ITE"
        ],
        "summary": "Transferir estoque vindo de ITE.",
        "operationId": "postUsingPOST_23",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitacao",
            "description": "solicitacao",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SolicitacaoTransferenciaEstoqueVindoDeIte"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EstoqueJson"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/veiculos": {
      "get": {
        "tags": [
          "Veículos"
        ],
        "summary": "Consultar veículos.",
        "operationId": "getUsingGET_13",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": false,
            "type": "string",
            "pattern": "[A-HJ-NPR-Za-hj-npr-z0-9]{17,21}"
          },
          {
            "name": "placa",
            "in": "query",
            "description": "placa",
            "required": false,
            "type": "string",
            "pattern": "[A-Za-z]{3}[0-9][A-Za-z0-9][0-9]{2}"
          },
          {
            "name": "renavam",
            "in": "query",
            "description": "renavam",
            "required": false,
            "type": "string",
            "pattern": "\\d{9,11}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Veiculo"
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/montadora/veiculos-zero-km-pendentes-entrada-estoque": {
      "get": {
        "tags": [
          "Estoques de veículos zero km"
        ],
        "summary": "Consultar veículos zero km pendentes de entrada em estoque. Caso o chassi não seja informado, serão retornados todos os veículos pendentes para o estabelecimento solicitante.",
        "operationId": "getUsingGET_14",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chassi",
            "in": "query",
            "description": "chassi",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VeiculoZeroKmPendenteEntradaEstoque"
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "401": {
            "description": "Não autenticado"
          },
          "403": {
            "description": "Não autorizado"
          },
          "404": {
            "description": "Recurso não encontrado",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "422": {
            "description": "Erro de negócio (mensagemParaUsuarioFinal pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErro"
            }
          },
          "500": {
            "description": "Erro interno (mensagemParaUsuarioFinal, se houver, pode ser repassada ao usuário final)",
            "schema": {
              "$ref": "#/definitions/MensagemDeErroInterno"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "AutorizacaoTransferenciaJson": {
      "type": "object",
      "properties": {
        "chassi": {
          "type": "string"
        },
        "cnpjEstabelecimentoAutorizador": {
          "type": "string"
        },
        "cnpjEstabelecimentoDestino": {
          "type": "string"
        },
        "cpfOperadorResponsavelAutorizacao": {
          "type": "string"
        },
        "cpfOperadorResponsavelCancelamento": {
          "type": "string"
        },
        "cpfOperadorResponsavelTransferencia": {
          "type": "string"
        },
        "dataHoraAutorizacao": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraCancelamento": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraTransferencia": {
          "type": "string",
          "format": "date-time"
        },
        "estadoAutorizacaoTransferencia": {
          "type": "string",
          "enum": [
            "CRIADA",
            "CONSUMIDA",
            "CANCELADA"
          ]
        },
        "estoqueOrigemDeVeiculoZeroKm": {
          "type": "boolean"
        },
        "estoqueOrigemEmIte": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoqueGerado": {
          "type": "integer",
          "format": "int64"
        },
        "inacabadoNoPrimeiroEstoque": {
          "type": "boolean"
        },
        "nomeEstabelecimentoAutorizador": {
          "type": "string"
        },
        "paraCancelamentoDeTransferencia": {
          "type": "boolean"
        },
        "paraIte": {
          "type": "boolean"
        },
        "placaVeiculo": {
          "type": "string"
        }
      },
      "title": "AutorizacaoTransferenciaJson"
    },
    "AutorizacaoTransferenciaMontadoraJson": {
      "type": "object",
      "properties": {
        "beneficioTributario": {
          "$ref": "#/definitions/BeneficioTributarioJson"
        },
        "chassi": {
          "type": "string"
        },
        "chaveNotaFiscalProdutoSaida": {
          "type": "string"
        },
        "cnpjEstabelecimentoAutorizador": {
          "type": "string"
        },
        "cnpjEstabelecimentoDestino": {
          "type": "string"
        },
        "cpfOperadorResponsavelAutorizacao": {
          "type": "string"
        },
        "cpfOperadorResponsavelCancelamento": {
          "type": "string"
        },
        "cpfOperadorResponsavelTransferencia": {
          "type": "string"
        },
        "dataHoraAutorizacao": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraCancelamento": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalProdutoSaida": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraTransferencia": {
          "type": "string",
          "format": "date-time"
        },
        "estadoAutorizacaoTransferencia": {
          "type": "string",
          "enum": [
            "CRIADA",
            "CONSUMIDA",
            "CANCELADA"
          ]
        },
        "estoqueOrigemDeVeiculoZeroKm": {
          "type": "boolean"
        },
        "estoqueOrigemEmIte": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoqueGerado": {
          "type": "integer",
          "format": "int64"
        },
        "nomeEstabelecimentoAutorizador": {
          "type": "string"
        },
        "paraCancelamentoDeTransferencia": {
          "type": "boolean"
        },
        "placaVeiculo": {
          "type": "string"
        }
      },
      "title": "AutorizacaoTransferenciaMontadoraJson"
    },
    "BeneficioTributarioJson": {
      "type": "object",
      "properties": {
        "dataFimVigencia": {
          "type": "string",
          "format": "date"
        },
        "dataInicioVigencia": {
          "type": "string",
          "format": "date"
        },
        "tipo": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        }
      },
      "title": "BeneficioTributarioJson"
    },
    "CancelamentoEntregaJson": {
      "type": "object",
      "properties": {
        "cpfResponsavel": {
          "type": "string"
        },
        "dataHoraRegistro": {
          "type": "string",
          "format": "date-time"
        },
        "motivo": {
          "type": "string",
          "enum": [
            "SAIDA_ESTOQUE_CANCELADA",
            "ENTREGA_CANCELADA"
          ]
        }
      },
      "title": "CancelamentoEntregaJson"
    },
    "CancelamentoEstoqueJson": {
      "type": "object",
      "properties": {
        "dataHoraCancelamentoEstoque": {
          "type": "string",
          "format": "date-time"
        },
        "motivoCancelamentoEstoque": {
          "type": "string",
          "enum": [
            "DESISTENCIA",
            "DEVOLUCAO_MONTADORA_FINS_DE_TRANSFORMACAO",
            "DEVOLUCAO_MONTADORA_CORRECAO_DE_DADOS_CADASTRAIS_FABRIS",
            "DEVOLUCAO_MONTADORA_AVARIAS",
            "DEVOLUCAO_MONTADORA_VENDA_DIRETA",
            "DETERMINACAO_JUDICIAL"
          ]
        }
      },
      "title": "CancelamentoEstoqueJson"
    },
    "CancelamentoSaidaEstoqueJson": {
      "type": "object",
      "properties": {
        "dataHoraCancelamentoSaidaEstoque": {
          "type": "string",
          "format": "date-time"
        },
        "idEstoqueGeradoNoCancelamentoSaida": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "CancelamentoSaidaEstoqueJson"
    },
    "ClienteAutenticadoJson": {
      "type": "object",
      "properties": {
        "cnpj": {
          "type": "string"
        },
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "nome": {
          "type": "string"
        }
      },
      "title": "ClienteAutenticadoJson"
    },
    "CompradorSaidaEstoque": {
      "type": "object",
      "required": [
        "numeroDocumento",
        "tipoDocumento"
      ],
      "properties": {
        "email": {
          "type": "string",
          "pattern": "[-A-Za-z0-9_.]+@[-A-Za-z0-9_]+\\.[-A-Za-z0-9_.]+"
        },
        "endereco": {
          "$ref": "#/definitions/EnderecoCompradorSaidaEstoque"
        },
        "nome": {
          "type": "string",
          "minLength": 0,
          "maxLength": 40,
          "pattern": "[A-Za-z0-9ÇçáàéíóúüñÁÀÉÍÓÚÜÑÃãÂâÔôÕõêÊ=+\\-\\/\\*\\_\\|\\(\\)\\[\\]\\{\\}<>#%&@'\".:;,!?$ ]*"
        },
        "numeroDocumento": {
          "type": "string",
          "pattern": "\\d{11}|\\d{14}"
        },
        "tipoDocumento": {
          "type": "string",
          "enum": [
            "CPF",
            "CNPJ"
          ]
        }
      },
      "title": "CompradorSaidaEstoque"
    },
    "CompradorSaidaEstoqueJson": {
      "type": "object",
      "properties": {
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "nome": {
          "type": "string"
        },
        "numeroDocumento": {
          "type": "string"
        },
        "tipoDocumento": {
          "type": "string",
          "enum": [
            "CPF",
            "CNPJ"
          ]
        }
      },
      "title": "CompradorSaidaEstoqueJson"
    },
    "Endereco": {
      "type": "object",
      "properties": {
        "bairro": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "complemento": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "municipio": {
          "$ref": "#/definitions/Municipio"
        },
        "numero": {
          "type": "string"
        }
      },
      "title": "Endereco"
    },
    "EnderecoCompradorSaidaEstoque": {
      "type": "object",
      "required": [
        "codigoMunicipio"
      ],
      "properties": {
        "bairro": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20,
          "pattern": "[A-Za-z0-9ÇçáàéíóúüñÁÀÉÍÓÚÜÑÃãÂâÔôÕõêÊ=+\\-\\/\\*\\_\\|\\(\\)\\[\\]\\{\\}<>#%&@'\".:;,!?$ ]*"
        },
        "cep": {
          "type": "string",
          "minLength": 7,
          "maxLength": 8
        },
        "codigoMunicipio": {
          "type": "integer",
          "format": "int32"
        },
        "complemento": {
          "type": "string",
          "minLength": 0,
          "maxLength": 20,
          "pattern": "[A-Za-z0-9ÇçáàéíóúüñÁÀÉÍÓÚÜÑÃãÂâÔôÕõêÊ=+\\-\\/\\*\\_\\|\\(\\)\\[\\]\\{\\}<>#%&@'\".:;,!?$ ]*"
        },
        "logradouro": {
          "type": "string",
          "minLength": 0,
          "maxLength": 30,
          "pattern": "[A-Za-z0-9ÇçáàéíóúüñÁÀÉÍÓÚÜÑÃãÂâÔôÕõêÊ=+\\-\\/\\*\\_\\|\\(\\)\\[\\]\\{\\}<>#%&@'\".:;,!?$ ]*"
        },
        "numero": {
          "type": "string",
          "minLength": 0,
          "maxLength": 5,
          "pattern": "[A-Za-z0-9ÇçáàéíóúüñÁÀÉÍÓÚÜÑÃãÂâÔôÕõêÊ=+\\-\\/\\*\\_\\|\\(\\)\\[\\]\\{\\}<>#%&@'\".:;,!?$ ]*"
        }
      },
      "title": "EnderecoCompradorSaidaEstoque"
    },
    "EntradaEstoqueJson": {
      "type": "object",
      "properties": {
        "chaveNotaFiscalEntrada": {
          "type": "string"
        },
        "chaveNotaFiscalRemessaEntrada": {
          "type": "string"
        },
        "chaveNotaFiscalServicoEntrada": {
          "type": "string"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataHora": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalEntrada": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalRemessaEntrada": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalServicoEntrada": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraRegistro": {
          "type": "string",
          "format": "date-time"
        },
        "numeroTermoEntradaEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "vendedor": {
          "$ref": "#/definitions/VendedorEntradaEstoqueJson"
        }
      },
      "title": "EntradaEstoqueJson"
    },
    "EntregaIndicada": {
      "type": "object",
      "properties": {
        "cnpjConcessionariaEntregadora": {
          "type": "string"
        },
        "cnpjConcessionariaVendedora": {
          "type": "string"
        }
      },
      "title": "EntregaIndicada"
    },
    "EntregaJson": {
      "type": "object",
      "properties": {
        "cancelamentoEntrega": {
          "$ref": "#/definitions/CancelamentoEntregaJson"
        },
        "chassi": {
          "type": "string"
        },
        "cnpjEstabelecimentoEntregador": {
          "type": "string"
        },
        "cnpjEstabelecimentoVendedor": {
          "type": "string"
        },
        "estado": {
          "type": "string",
          "enum": [
            "PENDENTE",
            "REALIZADA",
            "CANCELADA"
          ]
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "idAtpv": {
          "type": "string"
        },
        "idEntregaGeradaNoCancelamentoEntrega": {
          "type": "integer",
          "format": "int64"
        },
        "idEntregaOrigemCancelamentoEntrega": {
          "type": "integer",
          "format": "int64"
        },
        "realizacaoEntrega": {
          "$ref": "#/definitions/RealizacaoEntregaJson"
        }
      },
      "title": "EntregaJson"
    },
    "EnvioAutorizacaoTransferenciaParaItePelaMontadora": {
      "type": "object",
      "required": [
        "idEstoqueOrigem",
        "tipoBeneficioTributario"
      ],
      "properties": {
        "chaveNotaFiscalProdutoSaida": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "cnpjIteDestino": {
          "type": "string"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "idEstoqueOrigem": {
          "type": "integer",
          "format": "int64"
        },
        "leasingVeiculoInacabado": {
          "type": "boolean"
        },
        "tipoBeneficioTributario": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        }
      },
      "title": "EnvioAutorizacaoTransferenciaParaItePelaMontadora"
    },
    "EnvioCancelamentoAutorizacaoTransferenciaParaIte": {
      "type": "object",
      "required": [
        "idAutorizacao"
      ],
      "properties": {
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "idAutorizacao": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "EnvioCancelamentoAutorizacaoTransferenciaParaIte"
    },
    "EstoqueJson": {
      "type": "object",
      "properties": {
        "beneficioTributario": {
          "$ref": "#/definitions/BeneficioTributarioJson"
        },
        "cancelamentoEstoque": {
          "$ref": "#/definitions/CancelamentoEstoqueJson"
        },
        "chassi": {
          "type": "string"
        },
        "codigoSegurancaCrv": {
          "type": "string"
        },
        "dataHoraMedicaoHodometro": {
          "type": "string",
          "format": "date-time"
        },
        "entradaEstoque": {
          "$ref": "#/definitions/EntradaEstoqueJson"
        },
        "entregas": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntregaJson"
          }
        },
        "estado": {
          "type": "string",
          "enum": [
            "SOLICITADO",
            "TRANSFERIDO",
            "CONFIRMADO",
            "FINALIZADO"
          ]
        },
        "estoqueEmIte": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoqueGeradoPorTransferencia": {
          "type": "integer",
          "format": "int64"
        },
        "idEstoqueOrigemTransferencia": {
          "type": "integer",
          "format": "int64"
        },
        "inacabadoNoPrimeiroEstoque": {
          "type": "boolean"
        },
        "leasingVeiculoInacabado": {
          "type": "boolean"
        },
        "numeroCrv": {
          "type": "string"
        },
        "origemPorCancelamentoEstoque": {
          "$ref": "#/definitions/OrigemPorCancelamentoEstoqueJson"
        },
        "placa": {
          "type": "string"
        },
        "quilometragemHodometro": {
          "type": "integer",
          "format": "int32"
        },
        "renavam": {
          "type": "string"
        },
        "restricoesVeiculo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestricaoVeiculoJson"
          }
        },
        "saidaEstoque": {
          "$ref": "#/definitions/SaidaEstoqueJson"
        },
        "tipoCrv": {
          "type": "string",
          "enum": [
            "AZUL",
            "VERDE",
            "BRANCO",
            "DIGITAL"
          ]
        }
      },
      "title": "EstoqueJson"
    },
    "MensagemDeErro": {
      "type": "object",
      "properties": {
        "dataHora": {
          "type": "string",
          "format": "date-time"
        },
        "detalhe": {
          "type": "string"
        },
        "mensagemParaUsuarioFinal": {
          "type": "string"
        },
        "titulo": {
          "type": "string"
        }
      },
      "title": "MensagemDeErro"
    },
    "MensagemDeErroInterno": {
      "type": "object",
      "properties": {
        "dataHora": {
          "type": "string",
          "format": "date-time"
        },
        "detalhe": {
          "type": "string"
        },
        "logIdRastreabilidade": {
          "type": "string"
        },
        "mensagemParaUsuarioFinal": {
          "type": "string"
        },
        "titulo": {
          "type": "string"
        }
      },
      "title": "MensagemDeErroInterno"
    },
    "Municipio": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "nome": {
          "type": "string"
        },
        "uf": {
          "type": "string",
          "enum": [
            "AC",
            "AL",
            "AP",
            "AM",
            "BA",
            "CE",
            "DF",
            "ES",
            "GO",
            "MA",
            "MT",
            "MS",
            "MG",
            "PA",
            "PB",
            "PR",
            "PE",
            "PI",
            "RJ",
            "RN",
            "RS",
            "RO",
            "RR",
            "SP",
            "SC",
            "SE",
            "TO"
          ]
        }
      },
      "title": "Municipio"
    },
    "OrigemPorCancelamentoEstoqueJson": {
      "type": "object",
      "properties": {
        "idEstoqueOrigem": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "OrigemPorCancelamentoEstoqueJson"
    },
    "PdfAtpv": {
      "type": "object",
      "properties": {
        "numeroAtpv": {
          "type": "string"
        },
        "pdfAtpvBase64": {
          "type": "string"
        },
        "xmlAtpvBase64": {
          "type": "string"
        }
      },
      "title": "PdfAtpv"
    },
    "RealizacaoEntregaJson": {
      "type": "object",
      "properties": {
        "cpfResponsavel": {
          "type": "string"
        },
        "dataHoraRegistro": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "RealizacaoEntregaJson"
    },
    "Restricao": {
      "type": "object",
      "properties": {
        "codigoTipo": {
          "type": "string"
        },
        "tipo": {
          "type": "string"
        }
      },
      "title": "Restricao"
    },
    "RestricaoVeiculoJson": {
      "type": "object",
      "properties": {
        "codigoTipoRestricao": {
          "type": "string"
        },
        "tipoRestricao": {
          "type": "string"
        }
      },
      "title": "RestricaoVeiculoJson"
    },
    "SaidaEstoqueJson": {
      "type": "object",
      "properties": {
        "cancelamentoSaidaEstoque": {
          "$ref": "#/definitions/CancelamentoSaidaEstoqueJson"
        },
        "chaveNotaFiscalRemessaSaida": {
          "type": "string"
        },
        "chaveNotaFiscalSaida": {
          "type": "string"
        },
        "chaveNotaFiscalServicoSaida": {
          "type": "string"
        },
        "comBeneficioRenovar": {
          "type": "boolean"
        },
        "comprador": {
          "$ref": "#/definitions/CompradorSaidaEstoqueJson"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataHora": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalRemessaSaida": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalSaida": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraEnvioNotaFiscalServicoSaida": {
          "type": "string",
          "format": "date-time"
        },
        "dataHoraRegistro": {
          "type": "string",
          "format": "date-time"
        },
        "motivo": {
          "type": "string",
          "enum": [
            "VENDA",
            "BAIXA_DO_VEICULO",
            "TRANSFERENCIA_ESTABELECIMENTO",
            "TRANSFERENCIA_FILIAIS",
            "CANCELAMENTO_ENTRADA",
            "DEVOLUCAO_MONTADORA"
          ]
        },
        "numeroTermoSaidaEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "veiculosBaixadosRenovar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VeiculoBaixadoRenovarJson"
          }
        }
      },
      "title": "SaidaEstoqueJson"
    },
    "SolicitacaoCancelamentoEntradaZeroKm": {
      "type": "object",
      "required": [
        "dataCancelamentoEntradaEstoque",
        "idEstoque"
      ],
      "properties": {
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataCancelamentoEntradaEstoque": {
          "type": "string",
          "format": "date"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "SolicitacaoCancelamentoEntradaZeroKm"
    },
    "SolicitacaoCancelamentoSaidaInacabadoPelaMontadora": {
      "type": "object",
      "required": [
        "dataCancelamentoSaidaEstoque",
        "idEstoque"
      ],
      "properties": {
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataCancelamentoSaidaEstoque": {
          "type": "string",
          "format": "date"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "SolicitacaoCancelamentoSaidaInacabadoPelaMontadora"
    },
    "SolicitacaoCancelamentoSaidaZeroKm": {
      "type": "object",
      "required": [
        "dataCancelamentoSaidaEstoque",
        "idEstoque"
      ],
      "properties": {
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataCancelamentoSaidaEstoque": {
          "type": "string",
          "format": "date"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "SolicitacaoCancelamentoSaidaZeroKm"
    },
    "SolicitacaoEntradaEstoqueZeroKmPelaMontadora": {
      "type": "object",
      "required": [
        "dataEntradaEstoque",
        "dataHoraMedicaoHodometro",
        "quilometragemHodometro"
      ],
      "properties": {
        "chassi": {
          "type": "string",
          "pattern": "[A-HJ-NPR-Za-hj-npr-z0-9]{17,21}"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataEntradaEstoque": {
          "type": "string",
          "format": "date"
        },
        "dataHoraMedicaoHodometro": {
          "type": "string",
          "format": "date-time"
        },
        "quilometragemHodometro": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "SolicitacaoEntradaEstoqueZeroKmPelaMontadora"
    },
    "SolicitacaoSaidaEstoqueInacabadoPelaMontadora": {
      "type": "object",
      "required": [
        "dataVenda",
        "idEstoque",
        "tipoBeneficioTributario",
        "valorVenda"
      ],
      "properties": {
        "chaveNotaFiscal": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "comprador": {
          "$ref": "#/definitions/CompradorSaidaEstoque"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataVenda": {
          "type": "string",
          "format": "date"
        },
        "emailEstabelecimento": {
          "type": "string",
          "pattern": "[-A-Za-z0-9_.]+@[-A-Za-z0-9_]+\\.[-A-Za-z0-9_.]+"
        },
        "entregaIndicada": {
          "$ref": "#/definitions/EntregaIndicada"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "leasingVeiculoInacabado": {
          "type": "boolean"
        },
        "tipoBeneficioTributario": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        },
        "valorVenda": {
          "type": "number",
          "format": "double",
          "maximum": 99999999.99,
          "exclusiveMaximum": false
        }
      },
      "title": "SolicitacaoSaidaEstoqueInacabadoPelaMontadora"
    },
    "SolicitacaoSaidaEstoqueInacabadoRenovarPelaMontadora": {
      "type": "object",
      "required": [
        "dataVenda",
        "idEstoque",
        "tipoBeneficioTributario",
        "valorVenda"
      ],
      "properties": {
        "chaveNotaFiscal": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "comprador": {
          "$ref": "#/definitions/CompradorSaidaEstoque"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataVenda": {
          "type": "string",
          "format": "date"
        },
        "emailEstabelecimento": {
          "type": "string",
          "pattern": "[-A-Za-z0-9_.]+@[-A-Za-z0-9_]+\\.[-A-Za-z0-9_.]+"
        },
        "entregaIndicada": {
          "$ref": "#/definitions/EntregaIndicada"
        },
        "estabelecimentoCienteDeResponsabilidadeSobreProcessoRenovar": {
          "type": "boolean"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "leasingVeiculoInacabado": {
          "type": "boolean"
        },
        "tipoBeneficioTributario": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        },
        "valorVenda": {
          "type": "number",
          "format": "double",
          "maximum": 99999999.99,
          "exclusiveMaximum": false
        },
        "veiculosIndicadosParaBaixa": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VeiculoIndicadoParaBaixa"
          }
        }
      },
      "title": "SolicitacaoSaidaEstoqueInacabadoRenovarPelaMontadora"
    },
    "SolicitacaoSaidaEstoqueZeroKmPelaMontadora": {
      "type": "object",
      "required": [
        "dataVenda",
        "idEstoque",
        "tipoBeneficioTributario",
        "valorVenda"
      ],
      "properties": {
        "chaveNotaFiscal": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "comprador": {
          "$ref": "#/definitions/CompradorSaidaEstoque"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataVenda": {
          "type": "string",
          "format": "date"
        },
        "emailEstabelecimento": {
          "type": "string",
          "pattern": "[-A-Za-z0-9_.]+@[-A-Za-z0-9_]+\\.[-A-Za-z0-9_.]+"
        },
        "entregaIndicada": {
          "$ref": "#/definitions/EntregaIndicada"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "tipoBeneficioTributario": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        },
        "valorVenda": {
          "type": "number",
          "format": "double",
          "maximum": 99999999.99,
          "exclusiveMaximum": false
        }
      },
      "title": "SolicitacaoSaidaEstoqueZeroKmPelaMontadora"
    },
    "SolicitacaoSaidaEstoqueZeroKmRenovarPelaMontadora": {
      "type": "object",
      "required": [
        "dataVenda",
        "idEstoque",
        "tipoBeneficioTributario",
        "valorVenda"
      ],
      "properties": {
        "chaveNotaFiscal": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "comprador": {
          "$ref": "#/definitions/CompradorSaidaEstoque"
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataVenda": {
          "type": "string",
          "format": "date"
        },
        "emailEstabelecimento": {
          "type": "string",
          "pattern": "[-A-Za-z0-9_.]+@[-A-Za-z0-9_]+\\.[-A-Za-z0-9_.]+"
        },
        "entregaIndicada": {
          "$ref": "#/definitions/EntregaIndicada"
        },
        "estabelecimentoCienteDeResponsabilidadeSobreProcessoRenovar": {
          "type": "boolean"
        },
        "idEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "tipoBeneficioTributario": {
          "type": "string",
          "enum": [
            "PCD_ICMS_IPI",
            "PCD_IPI",
            "PJ",
            "PRODUTOR_RURAL",
            "TAXI",
            "TAXI_COM_DESCONTO_IOF",
            "NAO_TEM",
            "NAO_TRATADO_PELO_RENAVE"
          ]
        },
        "valorVenda": {
          "type": "number",
          "format": "double",
          "maximum": 99999999.99,
          "exclusiveMaximum": false
        },
        "veiculosIndicadosParaBaixa": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VeiculoIndicadoParaBaixa"
          }
        }
      },
      "title": "SolicitacaoSaidaEstoqueZeroKmRenovarPelaMontadora"
    },
    "SolicitacaoTransferenciaEstoqueVindoDeIte": {
      "type": "object",
      "required": [
        "dataHoraMedicaoHodometro",
        "dataTransferenciaEstoque",
        "idAutorizacao",
        "quilometragemHodometro",
        "valorProduto"
      ],
      "properties": {
        "chaveNotaFiscalProduto": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "chaveNotaFiscalRemessa": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "chaveNotaFiscalServico": {
          "type": "string",
          "minLength": 44,
          "maxLength": 44
        },
        "cpfOperadorResponsavel": {
          "type": "string"
        },
        "dataHoraMedicaoHodometro": {
          "type": "string",
          "format": "date-time"
        },
        "dataTransferenciaEstoque": {
          "type": "string",
          "format": "date"
        },
        "idAutorizacao": {
          "type": "integer",
          "format": "int64"
        },
        "quilometragemHodometro": {
          "type": "integer",
          "format": "int32"
        },
        "valorProduto": {
          "type": "number",
          "format": "double",
          "maximum": 99999999.99,
          "exclusiveMaximum": false
        }
      },
      "title": "SolicitacaoTransferenciaEstoqueVindoDeIte"
    },
    "TermoSaidaEstoqueJson": {
      "type": "object",
      "properties": {
        "numeroTermoSaidaEstoque": {
          "type": "integer",
          "format": "int64"
        },
        "pdfBase64": {
          "type": "string"
        }
      },
      "title": "TermoSaidaEstoqueJson"
    },
    "Veiculo": {
      "type": "object",
      "properties": {
        "chassi": {
          "type": "string"
        },
        "dataPreCadastro": {
          "type": "string",
          "format": "date"
        },
        "placa": {
          "type": "string"
        },
        "renavam": {
          "type": "string"
        },
        "restricoes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Restricao"
          }
        },
        "veiculoAcabado": {
          "type": "boolean"
        }
      },
      "title": "Veiculo"
    },
    "VeiculoBaixadoRenovarJson": {
      "type": "object",
      "properties": {
        "chassi": {
          "type": "string"
        },
        "placa": {
          "type": "string"
        },
        "renavam": {
          "type": "string"
        }
      },
      "title": "VeiculoBaixadoRenovarJson"
    },
    "VeiculoIndicadoParaBaixa": {
      "type": "object",
      "properties": {
        "chassi": {
          "type": "string",
          "pattern": "[A-HJ-NPR-Za-hj-npr-z0-9]{17,21}"
        },
        "placa": {
          "type": "string",
          "minLength": 7,
          "maxLength": 7
        },
        "renavam": {
          "type": "string",
          "pattern": "[0-9]{11}"
        }
      },
      "title": "VeiculoIndicadoParaBaixa"
    },
    "VeiculoZeroKmPendenteEntradaEstoque": {
      "type": "object",
      "properties": {
        "chassi": {
          "type": "string"
        },
        "dataHoraCadastro": {
          "type": "string",
          "format": "date-time"
        },
        "veiculoAcabado": {
          "type": "boolean"
        }
      },
      "title": "VeiculoZeroKmPendenteEntradaEstoque"
    },
    "VendedorEntradaEstoqueJson": {
      "type": "object",
      "properties": {
        "numeroDocumento": {
          "type": "string"
        },
        "tipoDocumento": {
          "type": "string",
          "enum": [
            "CPF",
            "CNPJ"
          ]
        }
      },
      "title": "VendedorEntradaEstoqueJson"
    }
  }
}